.topnav {
    overflow: hidden;
    margin-bottom: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div.switch-mode {
    margin-left: 85%;
    padding-top: 15px;
}

.topnav a:hover {
    background-color: #e5e3ec;
}





div.card img {
    width: 100%;
    height: 320px;
}

div.column {
    margin: 5px;
    border: 1px solid #ccc;
    width: 496px;
}

div.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup img {
    width: 100%;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

button {
    text-align: center;

    background-color: black;
    color: white;
    cursor: pointer;
    line-height: 25px;
}

.product-tumb img {
    width: 70%;
    padding: 20px 100px 0 200px;
}

.badge {
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(51, 171, 226);
    background: rgb(51, 171, 226);
    color: white;
    margin: 0 550px 20px;
    padding: 10px;
}

.product-details h4 {
    font-size: 20px;
    padding-left: 10px;
}

.product-years {
    padding-left: 10px;
    font-size: 20px;
}

.product-details p {
    font-size: 20px;
}